<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/CSS/docdashboard.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src=
"https://d3js.org/d3.v4.min.js"></script>
<script src=
"https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
<link rel="stylesheet"
      href=
"https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
<link rel=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      type="text/css" />
 
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
 
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
</script>
 <style>
        /* Set the map size */
        #map {
            height: 400px;
            width: 100%;
        }
        .viewall{
            font-size: 0.9rem;       
        }
        .revenue{
          font-size: 1.4rem;
        }
        .patientcount{
           border-right: 1px solid black; 
        }
         #appointmentAlert {
            position: fixed;
            bottom: 20px;
            left: 50px;
            background: red;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            display: none;
            font-size: 16px;
            z-index: 1000;
        }
    </style>
</head>
<body>

<header>
<nav class="navbar navbar-expand-lg  ">
        
            <div class="container-fluid">
              <a class="navbar-brand" style="text-decoration: none;color: black;font-size: 1.8rem" >
                <img th:src="@{/images/logo.jpg}" class="logo" style="width: 10%;mix-blend-mode: multiply !important; ">
                Lotus Multispeciality Clinic
              </a>
            </div>
        
        <div class="container-fluid d-flex">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
						<li class="nav-item m-3">
							<div class="d-flex align-items-center gap-2">
								<i class="fa-solid fa-phone-volume fa-xl"></i>
								<div style="">
									<a class="nav-link  ml-2 navtabs p-0" aria-current="page">EMERGENCY</a>
								    <a class="navtabs">+91 2345678901</a>
								</div>
							</div>

						</li>
						
						<li class="nav-item m-3">
							<div class="d-flex align-items-center gap-2">
								<i class="fa-regular fa-clock fa-xl"></i>
								<div style="">
									<a class="nav-link  ml-2 navtabs p-0" aria-current="page">WORKING HOURS</a>
								    <a class="navtabs">+91 2345678901</a>
								</div>
							</div>

						</li>
						
						<li class="nav-item m-3">
							<div class="d-flex align-items-center gap-2">
								<i class="fa-solid fa-location-dot fa-xl"></i>
								<div style="">
									<a class="nav-link  ml-2 navtabs p-0" aria-current="page">EMERGENCY</a>
								    <a class="navtabs">+91 2345678901</a>
								</div>
							</div>

						</li>

				
              
            </ul>
          </div>
        </div>
    </nav>
	<nav class="navbar navbar-expand-lg p-0" style="background-color: #C0EC83;">
	    <div class="container-fluid" >
	       
	        
	        <div class="collapse navbar-collapse justify-content-around " id="navbarNavAltMarkup">
	            <div class="navbar-nav m-2" >
	                <ul class="navbar-nav" >
              <li class="nav-item" >
                <a class="nav-link navtabs me-3" aria-current="page" href="#"  th:href="@{/recption/recptionDashboard}">Dashboard</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link navtabs me-3" href="#" th:href="@{/recption/listAppointment}" >Book Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navtabs me-3" href="#" th:href="@{/recption/medicinesLists}">Medicines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navtabs me-3" href="#" th:href="@{/recption/patientlist}">Patients</a>
              </li>
            </ul>
	            </div>
	        </div>
	        
	        <div class="p-2 me-5">
	        <!-- <button type="button" class="btn btn-primary me-3">Primary</button> -->
	        <a th:href="@{/logout}"><i class="fa-solid fa-power-off fa-xl " style="color: #f90101;"></i></a>
	        
	        </div>
	    </div>
	</nav>

</header>

<main>

<div class="card">

<div class="card-body" style="display: flex;justify-content: flex-end;">
 <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Patient</button>
</div>


<div class="card-body">
<table class="table ">
  <thead class="table-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mob No. </th>
      <th scope="col">Gender</th>
      <th scope="col">address</th>
      <th scope="col">birthdate</th>
    </tr>
  </thead>
  <tbody>
     <tr th:each="c : ${allpatient}">
      <th scope="row" th:text="${c.id}">1</th>
      <td th:text="${c.name}">Mark</td>
      <td th:text="${c.email}">Mark</td>
      <td th:text="${c.number}">Otto</td>
      <td th:text="${c.gender}">@mdo</td>
      <td th:text="${c.address}">@mdo</td>
      <td th:text="${c.birthdate}">@mdo</td>
    </tr> 
    
  </tbody>
</table>
</div>

</div>


<div class="modal fade" id="addreports" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Reports</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
         <form th:action="@{/recption/addReports}" method="post" enctype="multipart/form-data">
         
         <input type="text" id="patientid" hidden="" name="id">
    <div >
        <label>Add Reports :</label>
        <input type="file" name="report">
    </div>
    <div class="mt-5 text-center">
    
    <button type="submit" class="btn btn-primary rounded-pill" style="width: 80%;">Upload</button>
    </div>
</form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
               <form th:action="@{/recption/AddPatient}"  method="post"> 
  
  <div class="form-group">
    <label for="exampleInputEmail1">Full Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="Name" aria-describedby="emailHelp" placeholder="Enter name">
   
  </div>
  <div class="form-group mt-2">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
   
  </div>
  <div class="form-group mt-2">
    <label for="exampleInputPassword1">Number</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="number" placeholder="Number">
  </div>
  
  <div class="form-group d-flex align-items-center p-1 mt-2" >
    <label class="me-3">Gender :</label>
    <div class="d-flex justify-content-around flex-grow-1">
        <div class="d-flex align-items-center me-3">
            <input type="radio" id="male" name="Gender" value="MALE" class="me-1">
            <label for="male" class="mb-0">Male</label>
        </div>
        <div class="d-flex align-items-center">
            <input type="radio" id="female" name="Gender" value="FEMALE" class="me-1">
            <label for="female" class="mb-0">Female</label>
        </div>
    </div>
</div>
<div class="form-group mt-2">
    <label for="exampleInputPassword1">Birth Date</label>
    <input type="date" class="form-control" id="exampleInputPassword1" name="birthdate" placeholder="Birth Date">
  </div>
  <div class="form-group mt-2">
    <label for="exampleInputPassword1">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="address" placeholder="Number">
  </div>
  
  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
</form> 
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
  function addfiles(patientid){
	  document.getElementById("patientid").value = patientid;
	  
  }
 
</script>

</main>

</body>

</html>